@{
    ViewBag.Title = "Home Page";
}

<br />
<br />


<div id="bodyContainer" ng-app="QuizApp">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="flip-container text-center col-md-12" ng-controller="QuizCtrl">
                    <button class="btn btn-primary" ng-click="nextQuestion()">{{lblLoadQuestionbtn}}</button>

                    <br />

                    <br />

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Question </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in quizquestion">
                                <td>{{ x.title }}</td>
                                <td>{{ x.question | uppercase }}</td>
                            </tr>
                        </tbody>
                    </table>


                    @*<div class="back" ng-class="{flip: answered, correct: correctAnswer, incorrect:!correctAnswer}">
                            <p class="lead">{{answer()}}</p>
                            <p>
                                <button class="btn btn-info btn-lg next option" ng-click="nextQuestion()" ng-disabled="working">Next Question</button>
                            </p>
                        </div>*@
                    @*<div class="front" ng-class="{flip: answered}">
                        <p class="lead">{{title}}</p>*@
                    @*<div class="row text-center">
                            <button class="btn btn-info btn-lg option" ng-repeat="option in options" ng-click="sendAnswer(option)" ng-disabled="working">{{option.title}}</button>
                        </div>*@
                </div>
            </div>
        </div>
    </section>
</div>



@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/mynewcontroller.js")
}



